<div id="titulo" *ngIf="!producto">Cargando producto...</div>
<div class="container">
  <br>
  <div *ngIf="producto" class="row">
    <div class="col-lg-4" *ngIf="producto.imagen">
      <img src="http://192.168.0.20/curso-angular4/uploads/{{producto.imagen}}" class="producto_imagen" />
    </div>
    <div class="col-lg-8">
      <h3 id="titulo">{{producto.nombre}}</h3>
      <p>
        <strong>{{producto.precio}}</strong>
      </p>
      <p>{{producto.descripcion}}</p>
    </div>
  </div>
</div>